{{ define "content" }}


<div id="pageTitle">Community List</div>

<div x-data="myCommunitiesData()" x-init="getCommunity()">
 
    <div x-html="tbl.template">
 
    </div>
    <!-- <div>
        <div class="flex items-center justify-center h-40" x-show="showSpinner">
            <svg role="status" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#FF5800]"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
        </div>
    -->
        <!-- This example requires Tailwind CSS v2.0+ -->
          <!--
        <div class="bg-white shadow overflow-hidden sm:rounded-md mt-4" x-show="!showSpinner && Communitylist">
            <ul role="list" class="divide-y divide-gray-200">
                <template x-for="(Community, index) in Communitylist">
                    <li>
                        <div class="px-4 py-4 sm:px-6 hover:bg-gray-50 cursor-pointer">
                            <div class="flex items-center justify-between">
                                <p class="text-sm font-medium text-indigo-600 truncate" x-text="Community.Name"
                                    title="Repository name"></p>
                            </div>
                            <div class="mt-2 sm:flex sm:justify-between">
                                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                    <p class="flex items-center text-sm text-gray-500">
                                        <span x-text="Community.Description"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="mt-2 sm:flex sm:justify-between">
                                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                    <p class="flex items-center text-sm text-gray-500">
                                        <span x-text="Community.Notes"></span>
                                    </p>
                                </div>

                            </div>
                            <div class="mt-2 sm:flex">

                                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">

                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <p>
                                        Created on
                                        <time x-data="{date: new Date(Community.Created)}"
                                            x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                </template>
            </ul>
        </div>
    </div> -->
    <div>

    </div>
    
</div>

<script src="/public/components/clsDataTable.js"></script>


<script>
    function myCommunitiesData() {
        return {
            showSpinner: true,
            Communitylist: [],
            tbl: {
                template: "",
                headers: 
                [
                    { Name: "Name ", value: "Name" },
                    { Name: "Description ", value: "Description" },
                    { Name: "URL ", value: "Url" },
                    { Name: "Notes ", value: "Notes" },
                    { Name: "TradeAssocId ", value: "TradeAssocId" },
                ]
                ,
                data:[]
              
            },

            getCommunity() {
                console.log('test')
                fetch('/community')
                    .then(r => {
                        r.json().then(body => {
                            this.Communitylist = body
                            this.tbl.data = body    
                            this.showSpinner = false
                        });
                    })
                    .catch(e => {
                        console.log(e)
                    })
                 var dt = new clsDataTable()
                this.tbl.template = dt.template(
                     'tbl1',
                     'Community List',
                     'List of all Community',
                     'tbl.headers',
                     'tbl.data',
                     '/users/new',
                     '/community/{Id}',
                     'Id'
                 )
            }
        }
    }
</script>
{{ end }}