{{ define "content" }}

<div id="pageTitle">Community Onboarding Instructions</div>

<div x-data="data()" x-init="onLoad()" class="m-5" x-show="community.loaded">
    <div class="font-bold text-xl my-3 border-b-2 border-gray-300 border-solid"><span x-text="community.Name"></span></div>
    <div class="flex flex-row m-5">
        <div class="basis-9/12">
            <div class="mb-3">
                <span x-text="community.Name"></span> has a specific set of steps you must follow to apply to become part of the community. 
            </div>
            <ol class="list-decimal mx-10 mb-3">
                <li>Visit <a :href="community.Url" class="text-orange-500"><span x-text="community.Name"></span></a></li>
                <li>You will need to specify that you are an employee of Avanade when filling out the application</li>
                <li>Please notify our Open-Source Community Lead, Chris Lloyd-Jones clj@avanade.com once you have submitted your application</li>
            </ol>
            <div class="mb-3">
                Please be advised that applications often take 3 to 4 weeks to be fully approved by <span x-text="community.Name"></span>.
            </div>
            <div class="mb-3">
                If you have any questions, please contact the business sponsor for this community.    
            </div>
            <div class="text-center border-top border-2 border-gray-300 border-solid p-5">
                <div x-show="!isMember">
                    <div>Already a member? Please click the button below to register your name on our database.</div>
                    <button class="inline-flex
                    items-center justify-center
                    rounded-md border border-transparent
                    bg-orange-400
                    hover:bg-orange-500
                    px-5 py-2
                    text-sm font-medium text-white shadow-sm
                    focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2
                    sm:w-auto"
                    @click="alreadyMember()">I am already a member</button>
                </div>
                <div x-show="isMember">
                    <div>You are already a member of this community.</div>
                    <button class="inline-flex
                    items-center justify-center
                    rounded-md border border-transparent
                    bg-orange-400
                    hover:bg-orange-500
                    px-5 py-2
                    text-sm font-medium text-white shadow-sm
                    focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2
                    sm:w-auto"
                    @click="removeMember()">Remove</button>
                </div>
            </div>
        </div>
        <div class="basis-3/12 text-sm">
            <div class="mb-3" x-show="community.Sponsors.length>0">
                <div class="font-bold">Business Sponsors</div>
                <div class="ml-2">
                    <template x-for="i in community.Sponsors">
                        <div class="mb-2">
                            <div><span x-text="getSponsorName(i)"></span></div>
                            <div><a :href="`mailto:${i.Email}`"><span class="text-xs" x-text="i.Email"></span></a></div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="mb-3" x-show="community.Communities.filter(i=>{return !i.IsExternal}).length>0">
                <div class="font-bold">Related Internal Commmunities</div>
                <div class="ml-2">
                    <template x-for="i in community.Communities.filter(i=>{return !i.IsExternal})">
                        <div class="mb-2">
                            <div>
                                <a x-show="i.Url" :href="i.Url" class="text-orange-500"><span x-text="i.Name"></a></span>
                                <a x-show="!i.Url"><span x-text="i.Name"></a></span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="mb-3" x-show="community.Communities.filter(i=>{return i.IsExternal}).length>0">
                <div class="font-bold">Related External Commmunities</div>
                <div class="ml-2">
                    <template x-for="i in community.Communities.filter(i=>{return i.IsExternal})">
                        <div class="mb-2">
                            <div>
                                <a x-show="i.Url" :href="i.Url" class="text-orange-500"><span x-text="i.Name"></a></span>
                                <a x-show="!i.Url"><span x-text="i.Name"></a></span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function data(){
        return {
            community:{
                Id:"{{.Id}}",
                Name: '',
                Url: '',
                Sponsors:[
                    {Name: '', GivenName: '', SurName: '', Email: ''}
                ],
                Communities:[
                    {Name: '', Url:'', IsExternal: false}
                ],
                loaded:false
            },
            isMember: false,
            getSponsorName(i){
                return (!!i.GivenName && !!i.SurName) ?  `${i.GivenName} ${i.SurName}` : i.Name
            },
            alreadyMember(){
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Processing', 'Adding you to our database.', '','')
                fetch(`/api/community/onboarding/${this.community.Id}`, {
                    method: 'POST'
                })
                .then(()=>{
                    modal.update('success', 'Success', 'Your name has been added to our database', '','')
                    this.getCommunityInfo(this.community.Id)
                })
                .catch(()=>{
                    modal.update('error', 'Error', 'Please try again', '','')
                })
            },
            removeMember(){
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Processing', 'Removing you from our database.', '','')
                fetch(`/api/community/onboarding/${this.community.Id}`, {
                    method: 'DELETE'
                })
                .then(()=>{
                    modal.update('success', 'Success', 'Your name has been removed from our database', '','')
                    this.getCommunityInfo(this.community.Id)
                })
                .catch(()=>{
                    modal.update('error', 'Error', 'Please try again', '','')
                })
            },
            getCommunityInfo(id){
                var modal = Alpine.store('master').modal
                this.community.loaded = false
                modal.update('loading', 'Loading', 'Please wait', '','')
                fetch(`/api/community/onboarding/${this.community.Id}`).then(j=>j.json()
                .then(data => {
                    if (!data.Community.Sponsors) data.Community.Sponsors = []
                    if (!data.Community.Communities) data.Community.Communities = []
                    this.community = data.Community
                    this.isMember = data.IsMember
                    modal.visible = false
                    this.community.loaded = true
                }))
                .catch(()=>{
                    modal.update('error', 'Error', 'Please try again', '','')
                })
            },
            onLoad(){
                this.getCommunityInfo(this.community.Id)
            }
        }
    }
</script>

{{ end }}