{{ define "content" }}


<div id="pageTitle">Request a Community</div>
<div x-data="data()" x-init="onLoad()">
    <form onsubmit="event.preventDefault()" autocomplete="off" >
        <div x-show="!form.id">
            <P>

            <h3 class="text-lg font-medium leading-6 text-gray-900"> Community Information</h3>
            If you have been unable to find the community you need in the drop-down, please submit your request here so
            that
            we
            can add it. Please ensure you have reviewed the full list before requesting this community for review. ​</P>
        </div>
        <br>
        <div class="flex flex flex-col md:flex-row ">
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Community Name*</h3>
                    </div>
                    <div> <input type="text" x-model="form.name" maxlength="50"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>
                </div>
            </div>
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div class="flex flex-row">
                        <div class="basis-1/2">
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Community Site URL*</h3>
                        </div>
                        <div x-show="form.id" class="basis-1/2 flex flex-row text-right">
                            ID: <p x-text="form.id"></p>
                        </div>
                    </div>
                    <div> <input type="text" name="url" id="url" x-model="form.url" maxlength="255"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>
                </div>
            </div>




        </div>

        <div class="max-w-full  md:base-full  md:flex-row   mx-3">
            <!-- <div class="flex flex-col  bg-green-100 max-w-full"> -->
            <div>
                <div class="max-w-full   ">
                    <h3 class="text-lg font-medium leading-6 ">Community Description*</h3>
                </div>
                <div class="  bg-gray-200">
                    <textarea name="description" id="description" x-model="form.description" rows="3" maxlength="255"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md  border-2  width: 100%">
                        </textarea>
                </div>
            </div>
        </div>

        <div class="flex flex flex-col md:flex-row ">
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div x-data="{ data: content }" class="flex flex-col  ">

                    <div>
                        <span class="text-lg font-medium leading-6 text-gray-900">Business Sponsors*</span><span class="pl-1 text-xs">(Please select at least two sponsors )</span>
                    </div>
                    <div class="relative mt-1">
                        <div x-html="sponsors.template"></div>
                        <!-- <input type="text" name="UserPrincipalName" id="UserPrincipalName"
                            placeholder="UserPrincipalName" maxlength="50" autocomplete="false"
                            @keyup.enter="datapush()"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button> -->

                    </div>


                    <div class="  border items-center  ">


                        <template x-for="(sponsor, i) in form.sponsors">
                            <div style="display: flex; " class="border px-2 py-2">
                                <div style="flex-grow: 1;" x-text="sponsor.displayName"> </div>
                                <div> <button type="button" class="btn btn-danger btn-small   "
                                        @click="removeField(sponsor)">&times;</button></div>
                            </div>
                        </template>
                    </div>

                    <div>
                        <span class="text-lg font-medium leading-6 text-gray-900">Tag</span><span class="pl-1 text-xs">(Please press Enter to insert Tag)</span>
                    </div>
                    <div> <input type="text" name="tag" id="tag" maxlength="50" @keyup.enter="tag()"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>


                    <div class="  border items-center  ">


                        <template x-for="(tag, i) in form.tags">
                            <div style="display: flex; " class="border px-2 py-2">
                                <div style="flex-grow: 1;" x-text="tag"> </div>
                                <div> <button type="button" class="btn btn-danger btn-small   "
                                        @click="removetag(tag)">&times;</button></div>
                            </div>
                        </template>
                    </div>

                </div>



            </div>
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Notes</h3>
                    </div>
                    <div> <textarea name="Notes" id="Notes" x-model="form.notes" rows="3" maxlength="255"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md  border-2">
            </textarea> </div>
                    <div class="flex flex-row  mx-3   my-3 ">

                        <input type="checkbox" name="IsExternal" id="IsExternal" x-model="form.isExternal">
                        This is an external community


                    </div>
                </div>
            </div>


        </div>

        <div>
            <div align="right">
                <button x-show="form.id" type="button" class="bg-purple-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                    @click="onBoarding()">
                    <span>How To Join</span>
                </button>
                <button type="button" class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                    :class="!isValid ? 'bg-orange-100' : ''" x-bind:disabled="!isValid" @click="submit()">
                    <span x-show="!form.id">Submit Community</span>
                    <span x-show="form.id">Update Community</span>
                </button>

            </div>
        </div>
    </form>

</div>


<script src="/public/components/clsDropdown.js"></script>

<script type="text/javascript">
    function data() {
        return {
            form: {
                id: '{{.Id}}',
                name: '',
                url: '',
                description: '',
                notes: '',
                isExternal: false,
                sponsors: [],
                tags: [],
            },
            sponsors: {
                template: '',
                selected: '',
                data: []
            },
            get filteredSponsorsData() {
                return this.sponsors.data.filter(i => {
                    return !this.form.sponsors.includes(i)
                })
            },
            sponsor: {
                displayName: '',
                mail: '',
            },
            async getUsersList() {
                await fetch('/api/allusers').then(j => j.json()
                    .then(data => {

                        this.sponsors.data = data
                    }))
                    .catch(() => {
                        Alpine.store('master').modal.update('error', 'Error', 'Please try again', '', '')

                    })

                var dd = new clsDropdown()
                this.sponsors.template = dd.template(
                    'dd1',
                    'sponsors.selected',
                    'filteredSponsorsData',
                    'displayName',
                    'mail', 'mail',
                    'datapush()')
            },
            showModal: false,
            status: "",
            modalText: "Please wait...",
            modalSubText: "Your request is being processed.",
            showResult(status, title, subtext, show = true) {
                this.status = status
                this.modalText = title
                this.modalSubText = subtext
                this.showModal = show
            }, async onLoad() {
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Loading', 'Please wait', '', '')

                spinnercount = 3
                if (this.form.id) {
                    await fetch('/community/getcommunity/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                this.Communitylist = body

                                this.form.id = body[0]["Id"]
                                this.form.name = body[0]["Name"]
                                this.form.url = body[0]["Url"]
                                this.form.description = body[0]["Description"]
                                this.form.notes = body[0]["Notes"]
                                this.form.isExternal = body[0]["IsExternal"]
                                //  this.showSpinner = false
                                spinnercount = spinnercount - 1
                            });
                        })
                        .catch(e => {
                            console.log(e)
                            spinnercount = spinnercount - 1
                        })

                    await fetch('/api/CommunitySponsorsPerCommunityId/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                for (let index = 0; index < body.length; index++) {
                                    this.form.sponsors.push({ displayName: body[index]['UserPrincipalName'], mail: body[index]['UserPrincipalName'] })
                                }
                                //   this.showSpinner = false
                                spinnercount = spinnercount - 1
                            });
                        })
                        .catch(e => {
                            console.log(e)
                            spinnercount = spinnercount - 1
                        })

                    await fetch('/api/CommunityTagPerCommunityId/' + '{{.Id}}')
                        .then(r => {
                            r.json().then(body => {
                                for (let index = 0; index < body.length; index++) {
                                    this.form.tags.push(body[index]['Tag'])

                                }
                                //  this.showSpinner = false
                                spinnercount = spinnercount - 1
                            });
                        })
                        .catch(e => {
                            console.log(e)
                            spinnercount = spinnercount - 1
                        })

                    if (spinnercount < 1) {
                        this.showSpinner = false
                    }
                }

                await this.getUsersList()
                modal.visible = false
            },
            


            submit() {
                var modal = Alpine.store('master').modal
                modal.update('loading', 'Saving', 'Please wait.', '', '')
                if (!this.form.id) {
                    this.form.id = 0

                }

                Alpine.store('master').postData('/api/community', this.form, "Your community has been created.", "Go to communities list", "/communities/list")

            },
            tag() {
                if ( !!document.getElementById('tag').value.trim()  )
                {this.form.tags.push(document.getElementById('tag').value)
                document.getElementById('tag').value = "";
            }
            },
            datapush() {
                this.form.sponsors.push(this.sponsors.data.filter(i => i.mail == this.sponsors.selected)[0])
                this.sponsors.selected = ''
            },
            removeField(sponsors) {
                this.form.sponsors.splice(this.form.sponsors.indexOf(sponsors), 1);
            },
            removetag(tags) {
                this.form.tags.splice(this.form.tags.indexOf(tags), 1);
            },
            addNewField() {

                this.fields.push({ id: new Date().getTime() + this.fields.length });
            }
            ,
            showName(userPrincipalName, githubUser) {
                return userPrincipalName.includes(this.form.coowner) || githubUser.includes(this.form.coowner) ? true : false
            },

            onBoarding(){
                window.location.href=`/community/${this.form.id}/onboarding`
            }, 

            get isValid() {
                if (
                    (!!this.form.name &&
                        !!this.form.url &&
                        !!this.form.description //&& !!this.form.notes
                        ) &&
                    this.form.sponsors.length >= 2) {
                    return true
                } else {
                    return false
                }
            }


        }
    }

</script>
{{ end }}