{{ define "content" }}


<div id="pageTitle">Request a Community</div>
<div x-data="data()" x-init="onLoad()">
    <form onsubmit="event.preventDefault()">
        <P></P>

        <h3 class="text-lg font-medium leading-6 text-gray-900"> Community Information</h3>
        If you have been unable to find the community you need in the drop-down, please submit your request here so that
        we
        can add it. Please ensure you have reviewed the full list before requesting this community for review. ​</P>

        <br>
        <div class="flex flex flex-col md:flex-row ">
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Community Name*</h3>
                    </div>
                    <div> <input type="text" name="name" id="name" x-model="form.name" maxlength="50"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>
                </div>
            </div>
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Community Site URL</h3>
                    </div>
                    <div> <input type="text" name="url" id="url" x-model="form.url" maxlength="255"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-full  md:base-full  md:flex-row   mx-3">
            <!-- <div class="flex flex-col  bg-green-100 max-w-full"> -->
            <div>
                <div class="max-w-full   ">
                    <h3 class="text-lg font-medium leading-6 ">Community Description*</h3>
                </div>
                <div class="  bg-gray-200">
                    <textarea name="description" id="description" x-model="form.description" rows="3" maxlength="255"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md  border-2  width: 100%">
                        </textarea>
                </div>
            </div>
        </div>

        <div class="flex flex flex-col md:flex-row ">
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div x-data="{ data: content }" class="flex flex-col  ">

                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Business Sponsors*</h3>
                    </div>
                    <div class="relative mt-1">
                        <input type="text" name="UserPrincipalName" id="UserPrincipalName"
                            placeholder="UserPrincipalName" maxlength="50" autocomplete="false"
                            @keyup.enter="datapush()"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        <button type="button"
                            class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>

                    </div>


                    <div class="  border items-center   ">
                         
                     
                        <template x-for="(sponsor, i) in form.sponsors">
                            <div style="display: flex; " class="border" >
                                <div style="flex-grow: 1;" x-text="sponsor" > </div>
                                <div> <button   type="button" class="btn btn-danger btn-small   "
                                    @click="removeField(sponsor)">&times;</button></div>
                              </div>
                        </template>
                </div>


            </div>



        </div>
        <div class="basis-1/2 md:base-full  md:flex-row mx-3">
            <div class="flex flex-col  ">
                <div>
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Notes</h3>
                </div>
                <div> <textarea name="Notes" id="Notes" x-model="form.notes" rows="3" maxlength="255"
                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md  border-2">
            </textarea> </div>
            </div>
        </div>
</div>

<div>
    <div align="right">
        <button type="submit" class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
            :class="!isValid ? 'bg-orange-200' : ''" x-bind:disabled="!isValid" @click="submit()">Submit Community</button>

    </div>
</div>
</form>
</div>
 

 

<script type="text/javascript">
    function data() {
        return {
            form: {
                name: '',
                url: '',
                description: '',
                notes: '',
                sponsors: []
            },
            
            showModal: false,
            status: "",
            modalText: "Please wait...",
            modalSubText: "Your request is being processed.",
            showResult(status, title, subtext, show = true) {
                this.status = status
                this.modalText = title
                this.modalSubText = subtext
                this.showModal = show
            },
            onLoad() {
            }
            ,

            submit() {

                this.showResult("submitted", "Processing", "Please wait while processing your request.")

                fetch('/api/community', {
                    method: 'POST',
                    body: JSON.stringify(this.form),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(r => {
                        // Redirect to Home
                        if (r.status == 200) {
                            this.showResult("success", "Successful", "Your repository has been created.")

                            

                        } else {
                            r.text().then(body => this.showResult("error", "Failed", "There is an error processing your request."));
                        }


                    })
                    .catch(e => {
                        this.showResult("error", "Failed", "An error has occured while creating the repository.")
                    })
            },
            datapush() {

                this.form.sponsors.push(document.getElementById("UserPrincipalName").value)
                document.getElementById("UserPrincipalName").value = "";
               
            },
            removeField(sponsors) {
                this.form.sponsors.splice( this.form.sponsors.indexOf(sponsors), 1);
             },
            addNewField() {
    
                this.fields.push({ id: new Date().getTime() + this.fields.length });
            }
            ,
            showName(userPrincipalName, githubUser) {
                return userPrincipalName.includes(this.form.coowner) || githubUser.includes(this.form.coowner) ? true : false
            },



            get isValid() {
                if (
                    ( !!this.form.name &&
                     !!this.form.url &&
                    !!this.form.description &&
                    !!this.form.notes ) &&
                    this.form.sponsors.length >= 2) {
                    return true
                } else {
                    return false
                }
            }


        }
    }

</script>
{{ end }}