PORT=<Port. Defaults to 8080>
TENANT_ID=<Tenant Id>
CLIENT_ID=<Client Id>
CLIENT_SECRET=<Client Secret>
KEY_VAULT_NAME=<Azure Key Vault Name>
HOME_URL=http://localhost:8080
APPROVALSYSTEMDB_CONNECTION_STRING=<db connection string>
CALLBACK_RETRY_FREQ=<Interval in minutes. 0 to disable. Default is 15.>
CONTENT_SECURITY_POLICY=<Cpmtemt security policy>
IS_DEVELOPMENT=<Defaults to false>
EMAIL_SUMMARY_REPORT=<Recipient of daily summary report>
EMAIL_SUPPORT=<Support Email>
EMAIL_TENANT_ID=<Tenant Id>
EMAIL_CLIENT_ID=<Client Id>
EMAIL_CLIENT_SECRET=<Client Secret>
EMAIL_ENABLED=<Email enabled. default: false>
EMAIL_USER_ID=<Email user id>
LINK_FOOTERS=""
ORGANIZATION_NAME=""
COMMUNITY_PORTAL_APP_ID=""
SESSION_KEY=""
SCOPE=""
IPDR_APP_ID=""
IPDR_MODULE_ID=""
CTO=""
COMMUNITY_PORTAL_DOMAIN=""