{{ define "content" }}
<form x-data="approvalTypeForm" class="space-y-8 divide-y divide-gray-200" x-effect="onEffect">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
        <div>
            <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">{{ .Action }} Activity Type</h3>
                <!-- <p class="mt-1 max-w-2xl text-sm text-gray-500">Description...</p> -->
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="Name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Name </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <input x-model="form.name" type="text" name="Name" id="Name" autocomplete="given-name" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="approver" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Approver </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <select id="approver" name="approver" class="max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                </select>
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">Status</div>
            </div>
            <div class="sm:col-span-2">
              <div class="max-w-lg">
                <!-- <p class="text-sm text-gray-500">Description here...</p> -->
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <input  x-model="form.status" value="true" id="active" name="status" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                    <label for="active" class="ml-3 block text-sm font-medium text-gray-700"> Active </label>
                  </div>
                  <div class="flex items-center">
                    <input  x-model="form.status" value="false" id="not_active" name="status" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                    <label for="not_active" class="ml-3 block text-sm font-medium text-gray-700"> Not Active </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</form>

<script type="text/javascript">
    function approvalTypeForm(){
        return {
            form : {
                name : '',
                approver : '',
                status : true,
            },
            onEffect(){
                console.log("NAME", this.form.name)
                console.log("APPROVER", this.form.approver)
                console.log("STATUS", this.form.status)
            }
        }
    }
</script>
{{ end }}