{{ define "content" }}

<script type="text/javascript">
  function initHome(){
    let items = JSON.parse("{{ . }}")
    console.log(items)
    return {
      pending: items.Pending,
      approved: items.Approved
    }
  }
</script>

<div id="pageTitle">Approval Requests Assigned To You</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div x-data="initHome()" class="px-4">
  <div class="py-2"><h2 class="font-medium">Pending Requests</h2></div>
  <div class="italic" x-show="pending.length === 0">No pending requests.</div>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-300">
      <template x-for="item in pending">
        <li x-on:click="item.Show = !item.Show">
          <a class="block hover:bg-gray-50">
            <div class="px-4 py-4 sm:px-6 cursor-pointer">
              <div class="flex items-center justify-between">
                <p class="text-sm font-medium text-gray-800 truncate" x-text="item.Subject"></p>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500" x-text="item.Application">
                  </p>
                  <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-text="item.Module">
                  </p>
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                  </svg>
                  <p>
                    Requested on
                    <time x-data="{date: new Date(item.Created)}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                  </p>
                </div>
              </div>
              <div x-show="item.Show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                <div x-html="item.Body"></div>
                <div>
                  <table style="margin: 10px 0;width:100%; text-align: center;">
                    <tr>
                        <td colspan="5" style="padding: 5px 0;">To process your response, click any of the buttons below:</td>
                    </tr>
                    
                    <tr style="color: white;">
                        <td style="padding: 5px 0px; width: 20%; "></td>
                        <td style="padding: 5px 0px; width: 26%; background-color: green;" @click.stop>
                            <a x-bind:href="item.ApproveUrl" x-text="item.ApproveText" style="color: white;">
                            </a>
                        </td>
                        <td style="padding: 5px 0px; width: 8%; "></td>
                        <td style="padding: 5px 0px; width: 26%; background-color: red;" @click.stop>
                            <a x-bind:href="item.RejectUrl" x-text="item.RejectText" style="color: white;">
                            </a>
                        </td>
                        <td style="padding: 5px 0px; width: 20%; "></td>
                    </tr>
                </table>
                </div>
              </div>
            </div>
          </a>
        </li>
      </template>
    </ul>
  </div>
  <div class="pb-2 mt-10"><h2 class="font-medium">Closed Requests</h2></div>
  <div class="italic" x-show="approved.length === 0">You have not responded to any requests.</div>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-300">
      <template x-for="item in approved">
        <li x-on:click="item.Show = !item.Show">
          <a class="block hover:bg-gray-50">
            <div class="px-4 py-4 sm:px-6 cursor-pointer">
              <div class="flex items-center justify-between">
                <p class="text-sm font-medium text-gray-800 truncate" x-text="item.Subject"></p>
                <div class="ml-2 flex-shrink-0 flex">
                  <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" x-bind:class="item.IsApproved? 'bg-green-100 text-green-800':'bg-red-100 text-red-800'" x-text="item.IsApproved ? 'Approved' : 'Rejected'"></p>
                </div>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500" x-text="item.Application">
                  </p>
                  <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-text="item.Module">
                  </p>
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                  </svg>
                  <p>
                    Responded on
                    <time x-data="{date: new Date(item.DateResponded)}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                  </p>
                </div>
              </div>
              <div x-show="item.Show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                <div x-html="item.Body"></div>
                <div class="border-[1px] mt-2 p-3 rounded-md">
                  <div class="font-medium pb-2">Remarks</div>
                  <div x-text="item.ApproverRemarks? item.ApproverRemarks:'none'"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </template>
    </ul>
  </div>
</div>



{{ end }}
