{{ define "content" }}
<div x-data="data()" x-init="onLoad()">
    <h1 class="text-4xl">{{.Data.Subject}}</h1>
    <span x-html="body"></span>
    <form onsubmit="event.preventDefault()" x-show="requireRemarks=='true'" hidden id="form">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-6">
                <label for="remarks" class="block text-sm font-medium text-gray-700"> Remarks </label>
                <div class="mt-1">
                    <textarea id="remarks" name="remarks" x-model="form.remarks" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                </div>
                <p class="mt-2 text-sm text-gray-500">Specify remarks for your response.</p>
            </div>
            <fieldset class="mt-6">
                <legend class="contents text-base font-medium text-gray-900">Response</legend>
                <!-- <p class="text-sm text-gray-500">Approve/Reject</p> -->
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <input id="approve" value="1" name="isApproved" x-model="form.isApproved" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                    <label for="approve" class="ml-3 block text-sm font-medium text-gray-700"> Approve </label>
                  </div>
                  <div class="flex items-center">
                    <input id="reject" value="0" name="isApproved" x-model="form.isApproved" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                    <label for="reject" class="ml-3 block text-sm font-medium text-gray-700"> Reject </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="pt-5">
              <div class="flex justify-center">
                <button type="submit" @click="submit()"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                :class="!isValid ? 'bg-indigo-200' : 'hover:bg-indigo-700'"
                x-bind:disabled="!isValid"
                >Submit</button>
              </div>
            </div>
    </form>

  <!-- Modal -->
  <div id="modal" x-show="showModal" class="relative z-10" hidden aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <div class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full sm:p-6">
          <div>
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100" x-bind:class="status === 'success' ? '':'hidden'">
              <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100" x-bind:class="status === 'error' ? '':'hidden'">
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full" x-bind:class="status === 'submitted' ? '':'hidden'">
              <svg role="status" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="#ff5800" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-5">
              <h3 class="text-lg leading-6 font-medium text-gray-900" x-text="modalText"></h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500" x-text="modalSubText"></p>
              </div>
            </div>
            <div class="mt-3 text-center sm:mt-5" @click="showModal = false" x-bind:hidden="status!='success'">
              <a href="/myapprovals">Go back to approvals page</a>
            </div>
            <div class="mt-3 text-center sm:mt-5" @click="showModal = false" x-bind:hidden="status!='error'">close</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function data(){
        return {
            body: "{{.Data.Body}}",
            form: {
                applicationId:       "{{.ApplicationId}}",
                applicationModuleId: "{{.ApplicationModuleId}}",
                itemId:              "{{.ItemId}}",
                approverEmail:       "{{.ApproverEmail}}",
                remarks: "",
                isApproved: "{{.IsApproved}}"
            },
            requireRemarks: "{{.RequireRemarks}}",
            showModal: false,
            status: "",
            modalText: "Please wait...",
            modalSubText: "Your request is being processed.",
            onLoad(){
              if (this.requireRemarks == 'false') {
                this.submit()
              }
              document.getElementById("modal").attributes.removeNamedItem("hidden")
              document.getElementById("form").attributes.removeNamedItem("hidden")
            },
            showResult(status, title, subtext, show=true){
              this.status = status
              this.modalText = title
              this.modalSubText = subtext
              this.showModal = show
            },
            submit(){
                this.showResult("submitted", "Processing", "Please wait while processing your request.")
                fetch('/process', {
                    method: 'post',
                    body: JSON.stringify(this.form),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then(r=>{
                    // Redirect to Home
                    switch (r.status) {
                      case 200:
                        this.showResult("success", "Successful", "Your response has been submitted.")
                        break;
                      case 401:
                        this.showResult("error", "Failed", "You are unauthorized to process this approval.")
                        break;
                      default:
                        this.showResult("error", "Failed", "An error has occured while submitting your response.")
                        break;
                    }
                })
                .catch(e=>{
                    this.showResult("error", "Failed", "An error has occured while submitting your response.")
                })
            },
            get isValid() {
                if(
                    !!this.form.remarks &&
                    !!this.form.isApproved){
                        return true
                } else {
                    return false
                }
            }
        }
    }
</script>
{{ end }}