{{ define "content" }}
    <h1 class="text-[32px] font-semibold">Home</h1>
    <div>
        <p>
            Open-source software (OSS) broadly speaking, is any type of program or application that developers can inspect, copy, modify, and redistribute.
        <br/><br/>
            InnerSource is a software development strategy that applies open source best practices to proprietary code
        <br/><br/>
            Avanade has a public GitHub repository to publish open source projects, and a GitHub Enterprise repository for InnerSource projects.
        <br/><br/>
            You can request new innersource and open source repositories, or add yourself to GitHub through this application.
        </p>
    </div>
    <div>
        <h2 class="font-bold pt-3">Actions</h2>
        {{if not .LoggedIn}}
        <div><button class="bg-[#FF5800] p-3 text-white" onclick="redirect('/login/github'), false">Connect to Github</button></div>
        {{else}}
        <div class="flex items-center">
            <div class="p-3 flex items-center pl-0">
                Logged in on GitHub as: 
                <img class="rounded-full h-10 w-10 ml-5 mr-3" src="{{ .AvatarUrl }}" />
                <div class="font-semibold">
                    {{ .Username }}
                </div>
            </div>
        </div>
        {{end}}
        <div class="pt-1">
            <button class="bg-[#FF5800] p-3 text-white">Invite me to InnerSource</button>
            <button class="bg-[#FF5800] p-3 text-white">Invite me to the public GitHub organization</button>
            <button class="bg-[#FF5800] p-3 text-white">Request a new repository</button>
        </div>
        
        <div class="pt-1">
            <button class="bg-gray-200 p-3 text-gray-400" disabled>Invite me to InnerSource</button>
            <button class="bg-gray-200 p-3 text-gray-400" disabled>Invite me to the public GitHub organization</button>
            <button class="bg-gray-200 p-3 text-gray-400" disabled>Request a new repository</button>
        </div>
    </div>
    <div>
        <h2 class="font-bold pt-3">External Websites</h2>
        <button class="bg-[#FF5800] p-3 text-white" onclick="redirect('https://github.com/Avanade', true)">Open Avanade's Github</button>
        <button class="bg-gray-200 p-3 text-gray-400" disabled>Open Avanade's InnerSource</button>
        <button class="bg-[#FF5800] p-3 text-white" onclick="redirect('https://avanade.sharepoint.com/sites/VisualStudioSubscriptions/', true)">Visual Studio @ Avanade</button>
    </div>
    <div>
        TEST DATA: {{ . }}
    </div>
    <script type="text/javascript">
        function redirect(url, newTab){
            window.open(url, newTab? '_blank' : '_self')
        }
    </script>
{{ end }}