@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 18px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background-clip: padding-box;
  background: lightgrey;
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}