<html>
  <head>
    <link rel="stylesheet" href="/public/css/output.css" />
  </head>
  <body>
    <div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
      <div class="max-w-max mx-auto">
        <main class="sm:flex">
          <div class="sm:ml-6">
            <div class="sm:border-l sm:border-gray-200 sm:pl-6">
              <h1 class="text-4xl font-semibold text-gray-900 tracking-tight sm:text-4xl">Authenticate Azure Account</h1>
              <p class="mt-1 text-base text-gray-500">Please enable popups in your browser settings to complete the authentication process.</p>
            </div>
            <div id="retryAction" class="mt-10 space-x-3 sm:border-l sm:border-transparent sm:pl-6" hidden>
              <span class="text-red-500">Authentication was not successful</span>
              <a href="/"
                class="items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-[#FE4800] hover:bg-[#FF5800] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Retry</a>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script type="text/javascript" defer>
      const openedWindow = window.open("/login/azure", "_blank");
      window.addEventListener("message", receiveMessage, false);
      var timer = setInterval(function() {
          if(openedWindow == null) {
            clearInterval(timer);
            return
          }
          if(openedWindow.closed) {
              clearInterval(timer);
              document.getElementById("retryAction").removeAttribute("hidden");
          }
      }, 1000);
      function receiveMessage(event) {
     
        if (event.origin !== window.location.origin) {
            console.warn(`Message received by ${event.origin}; IGNORED.`);
            return;
        }
        clearInterval(timer);
        if (event.data == 'failed') {
          document.getElementById("retryAction").removeAttribute("hidden");
          return;
        }
        if (event.data == 'success') {
          window.location.href = '/'
        }
      }
    </script>
  </body>
</html>