{{ define "content" }}
<div id="pageTitle">Approval Requests Assigned To You</div>

<div class="px-4" x-data="initHome()">
  <div class="relative w-full">
    <div class="absolute inline-block text-left right-0">
      <button
        class="bg-[#FF5800] hover:bg-[#FF4300] text-white font-bold py-2 px-4 rounded" 
        x-on:click="exportMyApprovals(profile.username, data.ExportUrl)">
        Export Project Approvals
      </button> 
    </div>
  </div>
  <nav class="flex space-x-4 mb-3" aria-label="Tabs">
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[0] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(0)"> Pending Request</div>
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[1] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(1)"> Closed Request</div>
  </nav>
  <div x-show="activeTab == tabs[0]"> 
    <div x-data="list({
      enabledSearch: false,
      otherState: { responseType: 'All', requestType: {id : '', name: 'All'}, organization: 'All' },
      callback: pendingCallback,
      renderItem: pendingRenderItem
    })">
      <nav class="bg-white flex items-center justify-between" aria-label="header">
        <div class="sm:block">
          <div class="content-start">
              <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Request Type</label>
              <select @change="(e) => {
                state.other.requestType = requestTypes.find((obj) => { return e.target.value == obj.name})
                state.other.organization = 'All'
                load()
              }" 
              id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <template x-for="item in requestTypes" :key="item.id">
                    <option x-text="item.name"></option>
                  </template>
              </select>
          </div>
        </div>
        <template x-if="isRequestTypeWithOrg(state.other.requestType.name)">
          <div class="sm:block">
            <div class="content-start">
                <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Organization</label>
                <select @change="(e) => {
                  load()
                }"
                x-model="state.other.organization" 
                id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                    <template x-for="item in organizations">
                      <option x-text="item"></option>
                    </template>
                </select>
              </div>
          </div>
        </template>
        <div class="flex justify-between sm:justify-end">
            <div class="sm:col-span-3">
              <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
                <div class="mt.-1">
                  <input @keyup.enter="onSearchSubmitHandler" type="text" name="search" id="search"  class="block w-full focus:ring-indigo-500 focus:border-indigo-500 pl-2    sm:text-sm border-gray-300 rounded-md"   x-model="state.search">
                </div>
            </div>
        </div>
      </nav>
      <div x-html="template"></div>
    </div>
  </div>
  <div x-show="activeTab == tabs[1]">
    <div class="p-5" x-data="list({
      enabledSearch: false,
      otherState: { responseType: 'All', requestType: {id : '', name: 'All'}, organization: 'All' },
      callback: closedCallback,
      renderItem: closedRenderItem
    })">
      <nav class="bg-white flex items-center justify-between" aria-label="header">
        <div class="sm:block">
          <div class="content-start">
              <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Response</label>
              <select @change="() => {
                load()
              }" 
              x-model="state.other.responseType" id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <option>All</option>
                  <option>Rejected</option>
                  <option>Approved</option>
              </select>
            </div>
        </div>
        <div class="sm:block">
          <div class="content-start">
              <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Request Type</label>
              <select @change="(e) => {
                state.other.requestType = requestTypes.find((obj) => { return e.target.value == obj.name})
                state.other.organization = 'All'
                load()
              }" 
              id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <template x-for="item in requestTypes" :key="item.id">
                    <option x-text="item.name"></option>
                  </template>
              </select>
          </div>
        </div>
        <template x-if="isRequestTypeWithOrg(state.other.requestType.name)">
          <div class="sm:block">
            <div class="content-start">
                <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Organization</label>
                <select @change="(e) => {
                  state.other.organization = e.target.value
                  load()
                }" 
                id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                    <template x-for="item in organizations">
                      <option x-text="item"></option>
                    </template>
                </select>
              </div>
          </div>
        </template>
        <div class="flex justify-between sm:justify-end">
            <div class="sm:col-span-3">
              <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
                <div class="mt.-1">
                  <input @keyup.enter="onSearchSubmitHandler" type="text" name="search" id="search"  class="block w-full focus:ring-indigo-500 focus:border-indigo-500 pl-2    sm:text-sm border-gray-300 rounded-md"   x-model="state.search">
                </div>
            </div>
        </div>
      </nav>
      <div x-html="template"></div>
    </div>
  </div>
</div>

<script src="/public/components/popup.js"></script>
<script src="/public/components/list.js"></script>
<script type="text/javascript">
  const initHome = () => {
    return {
      tabs : ['pending', 'closed'],
      activeTab : '',
      requestTypes : [{id : '', name: 'All'}],
      organizations : ['all'],
      currentSelected: -1,
      data: JSON.parse('{{ . }}'),
      async init(){
        this.activeTab = this.tabs[0];
        requestTypes = await getRequestTypes()
        this.requestTypes = [...this.requestTypes, ...requestTypes]
        organizations = await getOrganizationType(this.data.OrganizationTypeUrl)
        this.organizations = [...this.organizations, ...organizations]
      },
      isRequestTypeWithOrg(requestType) {
        const withOrg = ['OrgAccess', 'Organization', 'GitHubCopilot']
        return withOrg.includes(requestType)
      },
      onChangeTabs(tab){
        this.activeTab = this.tabs[tab];
      },
      exportMyApprovals(username, exportUrls){
        window.open(exportUrl.replace('{username}', username), '_blank') 
      }
    }
  }

  //PENDING REQUEST
  function pendingRenderItem(item){
    return `<div class="block hover:bg-gray-50">
  <div class="px-4 py-4 sm:px-6">
    <div class="flex items-center justify-between">
      <div class="grow">
        <div class="items-center justify-between">
          <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
        </div>
        <div class="grid grid-cols-2 text-sm text-sm text-gray-500">
          <div>
            <p x-data="{ app: 'Application: ' + item.application}" x-text="app"></p>
          </div>
          <div>
            <p x-data="{ mod: 'Module: ' + item.module}" x-text="mod"></p>
          </div>
          <div>
            <p x-data="{ requestedBy: 'Requested by: ' + item.requestedBy}" x-text="requestedBy"></p>
          </div>
          <div>
            <p>
              Requested on
              <time x-data="{date: new Date(item.created.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}"
                x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
            </p>
          </div>
          <div class="flex items-center">
            <p>Approver/s: <span x-text="item.approvers[0]"></span></p>
            <template x-if="item.approvers.length > 1">
              <div x-data="popup({
                              content: renderApprovers(item.approvers),
                              placement: 'top',
                              popupClass: 'shadow-md'
                            })" @mouseover="showPopup" @mouseover.away="hidePopup">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div x-html="template"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div class="relative self-stretch w-5">
        <div class="absolute top-0 right-0">
          <div class="relative">
            <button x-show="item.allowReassign" @click.stop @click.outside="item.show2 = false "
              x-on:click="item.show2 = !item.show2" type="button"
              class="absolute inset-y-0 right-0 flex items-center rounded-r-md focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                </path>
              </svg>
            </button>
            <ul x-show=item.show2
              class="absolute z-10 mt-1 max-h-60 right-0 top-1 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
              id="options" role="listbox" style="">
              <a x-bind:href="item.allowReassignUrl">
                <li @click.stop class="hover:bg-[#fff2eb] relative cursor-pointer select-none py-2 pl-3 pr-9 text-gray-900"
                  id="option-0" role="option" tabindex="-1">
                  <span class="block truncate">Reassign </span>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="absolute top-8">
          <button x-on:click="item.show = !item.show">
            <template x-if="!item.show">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 20 20" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </template>
            <template x-if="item.show">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 20 20" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>
            </template>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
    <div x-html="item.body" class="text-sm"></div>
    <div>
      <table style="margin: 10px 0;width:100%; text-align: center;">
        <tr>
          <td colspan="5" style="padding: 5px 0;">To process your response, click any of the buttons below:</td>
        </tr>

        <tr style="color: white;">
          <td style="padding: 5px 0px; width: 20%; "></td>

          <td style="padding: 5px 0px; width: 26%; background-color: green;" @click.stop>
            <a x-bind:href="item.approveUrl" x-text="item.approveText" style="color: white;">
            </a>
          </td>
          <td style="padding: 5px 0px; width: 8%; "></td>
          <td style="padding: 5px 0px; width: 26%; background-color: red;" @click.stop>
            <a x-bind:href="item.rejectUrl" x-text="item.rejectText" style="color: white;">
            </a>
          </td>
          <td style="padding: 5px 0px; width: 20%; "></td>
        </tr>
      </table>
    </div>
  </div>
</div>`
  }
  
  async function pendingCallback(e){
    return await getItemsBy(1, 0, e.other.requestType.id, '', e.filter, e.page, e.search)
  }
  
  //CLOSED REQUEST
  function closedRenderItem(item){
    return `<div class="block hover:bg-gray-50">
              <div class="px-4 py-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <div class="grow">
                    <div class="flex items-center justify-between">
                      <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
                      <div class="ml-2 flex-shrink-0 flex">
                        <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                          x-bind:class="item.isApproved? 'bg-green-100 text-green-800':'bg-red-100 text-red-800'"
                          x-text="item.isApproved ? 'Approved' : 'Rejected'"></p>
                      </div>
                    </div>
                    <div class="grid grid-cols-2 text-sm text-sm text-gray-500">
                      <div>
                        <p x-data="{ app: 'Application: ' + item.application}" x-text="app"></p>
                      </div>
                      <div>
                        <p x-data="{ mod: 'Module: ' + item.module}" x-text="mod"></p>
                      </div>
                      <div>
                        <p x-data="{ requestedBy: 'Requested by: ' + item.requestedBy}" x-text="requestedBy"></p>
                      </div>
                      <div>
                        <p>
                          Responded on
                          <time x-data="{date: new Date(item.dateResponded.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}"
                            x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                        </p>
                      </div>
                      <div @click.stop class="flex items-center">
                        <p>Approver/s: <span x-text="item.approvers[0]"></span></p>
                        <template x-if="item.approvers.length > 1">
                          <div x-data="popup({
                                          content: renderApprovers(item.approvers),
                                          placement: 'top',
                                          popupClass: 'shadow-md'
                                        })" @mouseover="showPopup" @mouseover.away="hidePopup">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                              stroke="currentColor" class="w-4 h-4">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <div x-html="template"></div>
                          </div>
                        </template>
                      </div>
                      <div>
                        <p x-data="{ respondedBy: 'Responded by: ' + item.respondedBy}" x-text="respondedBy"></p>
                      </div>
                    </div>
                  </div>
                  <div class="relative mt-1">
                    <button class="ml-auto" x-on:click="item.show = !item.show">
                      <template x-if="!item.show">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 20 20"
                          stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                        </svg>
                      </template>
                      <template x-if="item.show">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 20 20"
                          stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                        </svg>
                      </template>
                    </button>
                  </div>
                </div>
              </div>
              <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                <div x-html="item.body" class="text-sm"></div>
                <div class="border-[1px] mt-2 p-3 rounded-md">
                  <div class="text-sm font-medium text-gray-800 truncate pb-2">Remarks</div>
                  <div x-text="item.approverRemarks? item.approverRemarks:'none'" class="text-sm"></div>
                </div>
              </div>
            </div>`
  }

  async function closedCallback(e){
    const responses = [{name: 'All', value: 3}, {name: 'Rejected', value: 2}, {name: 'Approved', value: 1}]
    selectedResponseType = responses.find((obj) => { return obj.name == e.other.responseType}).value
    return await getItemsBy(1, selectedResponseType, e.other.requestType.id, e.other.organization, e.filter, e.page, e.search)
  }

  function renderApprovers(approvers) {
    approversListTag = approvers.map((approver) => {
      return `<li>${approver}</li>`
    })
    return `<ul>${approversListTag.join('')}</ul>`
  }

  async function getItemsBy(type, status, requestType, organization, filter, page, search){
    const offset = filter * page;
    search = encodeURIComponent(search)
    requestTypeParam = requestType == '' ? '' : '&requestType=' + requestType
    organizationParam = organization == 'All' ? '' : '&organization=' + organization
    const res = await fetch(`/api/items/type/${type}/status/${status}?filter=${filter}&offset=${offset}&search=${search}${requestTypeParam}${organizationParam}`)
    const data = await res.json()
    return data
  }


  async function getRequestTypes(){
    const res = await fetch(`/api/request/types`)
    const data = await res.json()
    return data
  }

  async function getOrganizationType(url){
    const res = await fetch(url)
    const data = await res.json()
    return data
  }
</script>
{{ end }}
