{{ define "content" }}
<div id="pageTitle">Approval Requests Assigned To You</div>

<div class="px-4" x-data="initHome()">
  <nav class="flex space-x-4 mb-3" aria-label="Tabs">
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[0] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(0)"> Pending Request</div>
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[1] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(1)"> Closed Request</div>
  </nav>
  <div x-show="activeTab == tabs[0]"> 
    <div x-data="list({
      callback: pendingCallback,
      renderItem: pendingRenderItem
    })">
      <div x-html="template"></div>
    </div>
  </div>
  <div x-show="activeTab == tabs[1]"> 
    <h2 class="text-lg p-3 text-green-800 border-b">Approved Requests</h2>
    <div class="p-5" x-data="list({
      callback: approvedCallback,
      renderItem: closedRenderItem
    })">
      <div x-html="template"></div>
    </div>
    <h2 class="text-lg p-3 text-red-800 border-b">Rejected Requests</h2>
    <div class="p-5" x-data="list({
      callback: rejectedCallback,
      renderItem: closedRenderItem
    })">
      <div x-html="template"></div>
    </div>
  </div>
</div>

<script src="/public/components/list.js"></script>
<script type="text/javascript">
    const initHome = () => {
    return {
      tabs : ['pending', 'closed'],
      activeTab : '',
      async init(){
        this.activeTab = this.tabs[0];
      },
      onChangeTabs(tab){
        this.activeTab = this.tabs[tab];
      }
    }
  }

  //PENDING REQUEST
  function pendingRenderItem(item){
    return `<div x-on:click="item.show = !item.show">
              <a class="block hover:bg-gray-50">
                <div class="px-4 py-4 sm:px-6 cursor-pointer">
                  <div class="flex items-center justify-between">
              
                        <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
 
                   
                          <div class="relative mt-1">
                        <button x-show="item.allowReassign" @click.stop  x-on:click="item.show2 = !item.show2">    
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                              </svg>   

                        </button>
                         <ul  x-show="item.show2" class="absolute z-10 mt-1 max-h-60 right-0 top-1 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" role="listbox">
                                  <a x-bind:href="item.allowReassignUrl" >
                                    <li  @click.stop class="hover:bg-[#fff2eb] relative cursor-pointer select-none py-2 pl-3 pr-9 text-gray-900" id="option-0" role="option" tabindex="-1">
                                     <span class="block truncate">To Reasign </span>
                                    </li>
                                     
                                    </ul>
                                  </a> 
                        </div >        
                                   
                                
                                  
                                
                                 
                            
                    
                  </div>
                  <div class="mt-2 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex items-center text-sm text-gray-500" x-data="{ app: 'Application: ' + item.application}" x-text="app">
                      </p>
                      <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-data="{ mod: 'Module: ' + item.module}" x-text="mod" title="Module Type">
                      </p>
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                      </svg>
                      <p>
                        Requested on
                        <time x-data="{date: new Date(item.created.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                      </p>
                    </div>
                  </div>
                  <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                    <div x-html="item.body" class="text-sm"></div>
                    <div>
                      <table style="margin: 10px 0;width:100%; text-align: center;">
                        <tr>
                            <td colspan="5" style="padding: 5px 0;">To process your response, click any of the buttons below:</td>
                        </tr>
                        
                        <tr style="color: white;">
                          <td style="padding: 5px 0px; width: 20%; "></td>
                            
                            <td style="padding: 5px 0px; width: 26%; background-color: green;" @click.stop>
                                <a x-bind:href="item.approveUrl" x-text="item.approveText" style="color: white;">
                                </a>
                            </td>
                            <td style="padding: 5px 0px; width: 8%; "></td>
                            <td style="padding: 5px 0px; width: 26%; background-color: red;" @click.stop>
                                <a x-bind:href="item.rejectUrl" x-text="item.rejectText" style="color: white;">
                                </a>
                            </td>
                            <td style="padding: 5px 0px; width: 20%; "></td>
                        </tr>
                    </table>
                    </div>
                  </div>
                </div>
              </a>
             
            </div>`
  }
  
  async function pendingCallback(e){
    return await getItemsBy(1, 2, e)
  }
  
  //CLOSED REQUEST
  function closedRenderItem(item){
    return `<div x-on:click="item.show = !item.show">
      <a class="block hover:bg-gray-50">   
        <div class="px-4 py-4 sm:px-6 cursor-pointer">
          <div class="flex items-center justify-between">
            <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
            <div class="ml-2 flex-shrink-0 flex">
              <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" x-bind:class="item.isApproved? 'bg-green-100 text-green-800':'bg-red-100 text-red-800'" x-text="item.isApproved ? 'Approved' : 'Rejected'"></p>
            </div>
          </div>
          <div class="mt-2 sm:flex sm:justify-between">
            <div class="sm:flex">
              <p class="flex items-center text-sm text-gray-500" x-data="{ app: 'Application: ' + item.application}" x-text="app">
              </p>
              <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-data="{ mod: 'Module: ' + item.module}" x-text="mod">
              </p>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
              <p>
                Responded on
                <time x-data="{date: new Date(item.dateResponded.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
              </p>
            </div>
          </div>
          <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
            <div x-html="item.body" class="text-sm"></div>
            <div class="border-[1px] mt-2 p-3 rounded-md">
              <div class="text-sm font-medium text-gray-800 truncate pb-2">Remarks</div>
              <div x-text="item.approverRemarks? item.approverRemarks:'none'" class="text-sm"></div>
            </div>
          </div>
        </div>
      </a>
    </div>`
  }

  async function approvedCallback(e){
    return await getItemsBy(1, 1, e)
  }
  
  async function rejectedCallback(e){
    return await getItemsBy(1, 0, e)
  }

  async function getItemsBy(type, status, option){
    const offset = option.filter * option.page;
    const search = encodeURIComponent(option.search)

    const res = await fetch(`/api/items/type/${type}/status/${status}?filter=${option.filter}&offset=${offset}&search=${search}`)
    const data = await res.json()
    console.log(data);
    return data
  }
</script>
{{ end }}
