{{ define "content" }}

<!-- <script type="text/javascript">
  function initHome(){
    let redirect = localStorage.getItem("redirectUrl")
    if(redirect) window.location.href=redirect; localStorage.clear()
    let items = JSON.parse("{{ . }}")
    return {
      pending: items.Pending,
      approved: items.Approved
    }
  }
</script> -->

<div id="pageTitle">Approval Requests You Created</div>

<div class="px-4" x-data="initHome()">
  <nav class="flex space-x-4 mb-3" aria-label="Tabs">
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[0] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(0)"> Pending Request</div>
    <div class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer" x-bind:class="activeTab == tabs[1] ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'" x-on:click="onChangeTabs(1)"> Closed Request</div>
  </nav>
  <div x-show="activeTab == tabs[0]">
    <div x-data="list({
      callback: pendingCallback,
      renderItem: pendingRenderItem
    })">
      <div x-html="template"></div>
    </div>
  </div>
  <div x-show="activeTab == tabs[1]">
    <div class="p-5" x-data="list({
      enabledSearch: false,
      otherState: { responseType: 'All'},
      callback: closedCallback,
      renderItem: closedRenderItem
    })">
      <nav class="bg-white flex items-center justify-between" aria-label="header">
        <div class="sm:block">
          <div class="content-start">
              <label for="filter" class="block text-sm font-medium text-gray-700">Filter by Response</label>
              <select @change="() => {
                load()
              }" 
              x-model="state.other.responseType" id="reponseType" name="responseType" class="block mt-1 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <option>All</option>
                  <option>Rejected</option>
                  <option>Approved</option>
              </select>
            </div>
        </div>
        <div class="flex justify-between sm:justify-end">
            <div class="sm:col-span-3">
              <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
                <div class="mt.-1">
                  <input @keyup.enter="onSearchSubmitHandler" type="text" name="search" id="search"  class="block w-full focus:ring-indigo-500 focus:border-indigo-500 pl-2    sm:text-sm border-gray-300 rounded-md"   x-model="state.search">
                </div>
            </div>
        </div>
      </nav>
      <div x-html="template"></div>
    </div>
  </div>
</div>

<script src="/public/components/list.js"></script>
<script type="text/javascript">
    const initHome = () => {
    return {
      tabs : ['pending', 'closed'],
      activeTab : '',
      async init(){
        this.activeTab = this.tabs[0];
      },
      onChangeTabs(tab){
        this.activeTab = this.tabs[tab];
      }
    }
  }
  //PENDING REQUEST
  function pendingRenderItem(item){
    return `<div x-on:click="item.show = !item.show">
              <a class="block hover:bg-gray-50">
                <div class="px-4 py-4 sm:px-6 cursor-pointer">
                  <div class="flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
                  </div>
                  <div class="mt-2 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex items-center text-sm text-gray-500" x-data="{ app: 'Application: ' + item.application}" x-text="app">
                      </p>
                      <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-data="{ mod: 'Module: ' + item.module}" x-text="mod">
                      </p>
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                      </svg>
                      <p>
                        Requested on
                        <time x-data="{date: new Date(item.created.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                      </p>
                    </div>
                  </div>
                  <div class="mt-2 sm:flex sm:justify-between">
                    <div x-data="{
                      approvers: item.approvers.toString()
                    }" class="sm:flex mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <p> Approver/s: <span x-text="approvers"><span></p>
                    </div>
                  </div>
                  <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                    <div x-html="item.body" class="text-sm"></div>
                  </div>
                </div>
              </a>
            </div>`
  }
  
  async function pendingCallback(e){
    return await getItemsBy(0, 0, e.filter, e.page, e.search)
  }
  
  //CLOSED REQUEST
  function closedRenderItem(item){
    return `<div x-on:click="item.show = !item.show">
              <a class="block hover:bg-gray-50">
                <div class="px-4 py-4 sm:px-6 cursor-pointer">
                  <div class="flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-800 truncate" x-text="item.subject"></p>
                    <div class="ml-2 flex-shrink-0 flex">
                      <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" x-bind:class="item.isApproved? 'bg-green-100 text-green-800':'bg-red-100 text-red-800'" x-text="item.isApproved ? 'Approved' : 'Rejected'"></p>
                    </div>
                  </div>
                  <div class="mt-2 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex items-center text-sm text-gray-500" x-data="{ app: 'Application: ' + item.application}" x-text="app">
                      </p>
                      <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6" x-data="{ mod: 'Module: ' + item.module}" x-text="mod">
                      </p>
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                      </svg>
                      <p>
                        Responded on
                        <time x-data="{date: new Date(item.dateResponded.replace(' ', 'T').replace(' +0000 UTC', '') + 'Z')}" x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                      </p>
                    </div>
                  </div>
                  <div class="mt-2 sm:flex sm:justify-between">
                    <div x-data="{
                      approvers: item.approvers.toString()
                    }" class="sm:flex mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <p> Approver/s: <span x-text="approvers"><span></p>
                    </div>
                    <div x-show="item.respondedBy" class="sm:flex mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                      <p> Responded by: <span x-text="item.respondedBy"><span></p>
                    </div>
                  </div>
                  <div x-show="item.show" class="border-t-[1px] border-gray-100 mt-3 pt-3">
                    <div x-html="item.body" class="text-sm"></div>
                    <div class="border-[1px] mt-2 p-3 rounded-md">
                      <div class="text-sm font-medium text-gray-800 truncate pb-2">Remarks</div>
                      <div x-text="item.approverRemarks? item.approverRemarks:'none'" class="text-sm"></div>
                    </div>
                  </div>
                </div>
              </a>
            </div>`
  }

  async function closedCallback(e){
    const responses = [{name: 'All', value: 3}, {name: 'Rejected', value: 2}, {name: 'Approved', value: 1}]
    selectedResponseType = responses.find((obj) => { return obj.name == e.other.responseType}).value
    return await getItemsBy(0, selectedResponseType, e.filter, e.page, e.search)
  }

  async function getItemsBy(type, status, filter, page, search){
    const offset = filter * page;
    search = encodeURIComponent(search)

    const res = await fetch(`/api/items/type/${type}/status/${status}?filter=${filter}&offset=${offset}&search=${search}`)
    const data = await res.json()
    return data
  }
</script>
{{ end }}
