{{ define "content" }}
<div x-data="data()" x-init="onLoad(); getActivities();">
  
  <div>
    <div class="flex space-x-4 mb-5">
      <div @click="switchTo('details')" class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer"
          x-bind:class="view==='details' ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'"> 
        Request Details
      </div>
      <div @click="switchTo('activities')" class="px-3 py-2 font-medium text-sm rounded-md cursor-pointer"
          x-bind:class="view==='activities' ? 'bg-[#fff2eb] text-[#FF5800]':'text-gray-500 hover:text-gray-700'"> 
        Activities
      </div>
      <div style="margin-left: auto !important;" x-show="consultLegalButton && !alreadyProcessed && isApprover">
        <button @click="consultLegal()"
          class="bg-[#FF5800] hover:bg-[#FF4300] text-white font-bold py-2 px-4 rounded" >
          Consult Legal
        </button>
      </div>
      
    </div>
    <div class="px-5">
      <h3 class="text-xl mb-7">{{.Data.Subject}}</h3>
      <div x-show="view==='details'">
        <span x-html="body"></span>
        <div class="max-w-[700px] mx-auto">
          <template x-if="isApprover && !alreadyProcessed">
            <form
              onsubmit="event.preventDefault()"
              x-show="requireRemarks=='true'"
              id="form"
            >
              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                  <label for="remarks" class="block text-sm font-medium text-gray-700">
                    Remarks
                  </label>
                  <div class="mt-1">
                    <textarea
                      id="remarks"
                      name="remarks"
                      maxlength="255"
                      x-model="form.remarks"
                      rows="3"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
                    ></textarea>
                  </div>
                  <p class="mt-2 text-sm text-gray-500">
                    Specify remarks for your response.
                  </p>
                </div>
                <fieldset class="mt-6">
                  <legend class="contents text-base font-medium text-gray-900">
                    Response
                  </legend>
                  <!-- <p class="text-sm text-gray-500">Approve/Reject</p> -->
                  <div class="mt-4 space-y-4">
                    <div class="flex items-center">
                      <input
                        id="approve"
                        value="1"
                        name="isApproved"
                        x-model="form.isApproved"
                        type="radio"
                        class="focus:ring-orange-500 h-4 w-4 text-orange-600 border-gray-300"
                      />
                      <label
                        for="approve"
                        class="ml-3 block text-sm font-medium text-gray-700"
                      >
                        Approve
                      </label>
                    </div>
                    <div class="flex items-center">
                      <input
                        id="reject"
                        value="0"
                        name="isApproved"
                        x-model="form.isApproved"
                        type="radio"
                        class="focus:ring-orange-500 h-4 w-4 text-orange-600 border-gray-300"
                      />
                      <label
                        for="reject"
                        class="ml-3 block text-sm font-medium text-gray-700"
                      >
                        Reject
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="pt-5">
                <div class="flex justify-center">
                  <button
                    type="submit"
                    @click="submit()"
                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    :class="!isValid ? 'bg-orange-200' : 'bg-orange-600 hover:bg-orange-700'"
                    x-bind:disabled="!isValid"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </template>
        </div>
      </div>
      <div x-show="view==='activities'">
        <div class="max-w-[700px] mx-auto">
          <ul role="list" class="space-y-6">
            <li class="relative flex gap-x-4">
              <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center" :class="{ 'hidden' : (commentForm.action ==='audit' && !activitiesNotNull() && !alreadyProcessed ) }">
                <div class="w-px bg-gray-200"></div>
              </div>
              <div class="relative flex size-6 flex-none items-center justify-center bg-white">
                <div class="size-1.5 rounded-full bg-gray-200 ring-1 ring-gray-300"></div>
              </div>
              <p class="flex-auto py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900">{{.Data.RequestedBy}}</span> created the request.</p>
              <time x-data="{date: new Date('{{.Data.Created}}')}"
                x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"
                class="flex-none py-0.5 text-xs/5 text-gray-500"></time>
            </li>
            <!-- Loop for activities -->
            <template x-if="activitiesNotNull()">
              <template x-for="activity in activities" >
                <li class="relative flex gap-x-4">
                  <template x-data="{activity}" x-if="activity.action === 'comment'">
                    <div class="w-full relative flex gap-x-4">
                      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
                        <div class="w-px bg-gray-200"></div>
                      </div>
                      <div class="relative flex size-6 flex-none items-center justify-center bg-white">
                        <div class="size-1.5 rounded-full bg-gray-200 ring-1 ring-gray-300"></div>
                      </div>
                      <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200 shadow-md">
                        <div class="flex justify-between gap-x-4">
                          <div class="py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900" x-text="activity.details.createdBy"></span> commented</div>
                          <time datetime="2023-01-23T15:56" class="flex-none py-0.5 text-xs/5 text-gray-500" x-text="new Date(activity.details.created).toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"></time>
                        </div>
                        <p class="text-sm/6 text-gray-500" x-text="activity.details.content"></p>
                      </div>
                    </div>
                  </template>
                  <template x-data="{activity}" x-init="console.log(activity.action)" x-if="activity.action === 'consult'">
                    <div class="w-full relative flex gap-x-4">
                      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
                        <div class="w-px bg-gray-200"></div>
                      </div>
                      <div class="relative flex size-6 flex-none items-center justify-center bg-white">
                        <div class="size-1.5 rounded-full bg-gray-200 ring-1 ring-gray-300"></div>
                      </div>
                      <div class="w-full">
                        <div class="flex w-full">
                          <div class="flex-auto py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900" x-text="activity.actor"></span> asked for input from the legal team. The following user/s have been added to the conversation:
                          <span x-text="activity.details.content"></span></div>
                          <div x-data="{date: new Date(activity.created)}"
                            x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"
                            class="flex-none py-0.5 text-xs/5 text-gray-500 ml-auto"></div>
                        </div>
                      </div>
                    </div>
                  </template>
                </li>
              </template>
            </template>
          </ul>
          
          <!-- New comment form -->
          <div class="mt-6 flex gap-x-4" :class="{ 'hidden' : commentForm.action==='audit' && !alreadyProcessed}">
            <div class="relative flex size-6 flex-none items-center justify-center bg-white">
              <div class="size-1.5 rounded-full bg-gray-200 ring-1 ring-gray-300"></div>
            </div>
            <!-- Already processed -->
             <div x-show="alreadyProcessed" class="w-full">
              <div class="flex w-full">
                <div class="flex-auto py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900">{{.Data.RespondedBy}}</span> {{.ApproverResponse}} the request.</div>
                <div x-data="{date: new Date('{{.Data.DateResponded}}')}"
                  x-text="date.toLocaleString('en-US',{dateStyle: 'medium', timeStyle: 'short'})"
                  class="flex-none py-0.5 text-xs/5 text-gray-500 ml-auto"></div>
              </div>
              <div class="text-xs/5 text-gray-500 overflow-hidden rounded-lg p-3 outline outline-1 -outline-offset-1 outline-gray-300 mt-1"><b>Remarks:</b> {{.Data.ApproverRemarks}}</div>
            </div>
            <!-- Not yet processed -->
            <div action="#" class="relative flex-auto" x-show="!alreadyProcessed && '{{.Action}}' !== 'audit'">
              <div class="overflow-hidden rounded-lg pb-12 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-orange-500">
                <label for="comment" class="sr-only">Add your comment</label>
                <textarea x-model="commentForm.details.content" rows="2" name="comment" id="comment" class="block w-full resize-none bg-transparent px-3 py-1.5 text-base text-gray-900 placeholder:text-gray-400  focus:outline-0 sm:text-sm/6 border-0" style="--tw-ring-shadow: 0 0 #000 !important;" placeholder="Add your comment..."></textarea>
              </div>
          
              <div class="absolute inset-x-0 bottom-0 flex justify-between py-2 pl-3 pr-2">
                <div class="flex items-center space-x-5">
                  
                </div>
                <button class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300 " 
                @click="submitActivity()" x-bind:disabled="!isCommentValid"  :class="!isCommentValid ? 'text-gray-300' : 'hover:bg-gray-50 text-gray-900'">Comment</button>
              </div>
            </div>
          </div>
          <!-- For audit only, end of conversation marker -->
          <div class="mt-6 flex gap-x-4">
            <div class="relative flex size-6 flex-none items-center justify-center bg-white">
              <!-- <div class="size-1.5 rounded-full bg-gray-200 ring-1 ring-gray-300"></div> -->
            </div>
            <div x-show="'{{.Action}}' == 'audit'" class="w-full">
              <div class="flex w-full">
                <div class="flex-auto py-0.5 text-xs/5 text-gray-500">-- End of conversation --</div>
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function data() {
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);

    return {
      body: `{{.Data.Body}}`,
      view: urlParams.get("view") || "details",
      isApprover: "{{.IsApprover}}" === "true",
      alreadyProcessed: "{{.AlreadyProcessed}}" === "true",
      consultLegalButton: "{{.ConsultLegalButton}}" === "true",
      form: {
        applicationId: "{{.ApplicationId}}",
        applicationModuleId: "{{.ApplicationModuleId}}",
        itemId: "{{.ItemId}}",
        approverEmail: "{{.ApproverEmail}}",
        remarks: "",
        isApproved: "{{.IsApproved}}",
      },
      commentForm: {
        action: "{{.Action}}",
        details: {
          itemId: "{{.ItemId}}",
          content: "",
          appId: "{{.ApplicationId}}",
          appModuleId: "{{.ApplicationModuleId}}",
        }
      },
      consultLegalForm: {
        applicationId: "{{.ApplicationId}}",
        applicationModuleId: "{{.ApplicationModuleId}}",
        itemId: "{{.ItemId}}",
      },
      requireRemarks: "{{.RequireRemarks}}",
      status: "",
      url: new URL(window.location.href),
      activities: null,
      onLoad() {
        if (this.requireRemarks == "false" && this.isApprover) {
          this.submit();
        }
      },
      submit() {
        Alpine.store('master').modal.reset()
        Alpine.store('master').modal.show()
        Alpine.store('master').postData("/api/process", this.form, "Your response has been recorded.",
            "Go to your approvals", "/myapprovals")
      },
      submitActivity() {
        Alpine.store('master').modal.reset()
        Alpine.store('master').modal.update("loading", "Please wait...", "Posting your commment.", "/")
        Alpine.store('master').modal.show()
        Alpine.store('master').postData("/api/activity", this.commentForm, "Your comment has been posted.",
            "Refresh page", `/{{.Action}}/{{.ApplicationId}}/{{.ApplicationModuleId}}/{{.ItemId}}/2?view=activities`)  
      },
      consultLegal() {
        let f = () => {
          Alpine.store('master').modal.show()
          Alpine.store('master').postData(`/api/ipdisclosurerequest/consultlegal`, this.consultLegalForm,
            "An email will be sent to the legal team.", "Refresh page",
            "/response/{{.ApplicationId}}/{{.ApplicationModuleId}}/{{.ItemId}}/2")
        }
        let title = "Confirmation"
        let message = `Do you want to ask for input from the legal team?`
        Alpine.store('master').confirmationModal.update(title, message, f)
        Alpine.store('master').confirmationModal.show()
      },
      get isCommentValid() {
        if (
            !!this.commentForm.details.content
        ) {
            return true
        } else {
            return false
        }
      },
      switchTo(view) {
        this.view = view;
        this.url.searchParams.set("view", view)

        let urlPath = this.url.origin

        if (this.url.pathname != '/') {
            urlPath = `${urlPath}${this.url.pathname}`
        }

        window.history.pushState({}, '', `${urlPath}${this.url.search}`)
      },
      get isValid() {
        if (!!this.form.remarks && !!this.form.isApproved) {
          return true;
        } else {
          return false;
        }
      },
      getActivities() {
        fetch(`/api/activity/{{.ItemId}}`)
            .then(r => {
                r.json().then(body => {
                    this.activities = body
                })
            })
            .catch(e => {
                console.log(e)
            })
      },
      activitiesNotNull() {
        return this.activities !== null
      },
    };
  }
</script>
{{ end }}
