{{ define "content" }}


<div id="pageTitle">Request a project</div>

<div x-data="data()">
    <form onsubmit="event.preventDefault()">
        <p>
            <h3 class="text-lg font-medium leading-6 text-gray-900">Project information</h3>
            All projects start on Avanade’s innersource on GitHub. Once you have identified a business sponsor, and
            submitted
            your first automated security scan, you can request to move the project to open source. If you open source this
            application, it will be displayed publicly, so think carefully.
            </p>
        <br>

        <div class="flex flex flex-col md:flex-row ">
            <div class="basis-1/2 md:base-full  md:flex-row mx-3">
                <div class="flex flex-col  ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Project name</h3>
                    </div>
                    <div> <input type="text" name="name" id="name" x-model="form.name" maxlength="50"
                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                    </div>
                    <div>The title should represent what the asset does. Avoid acronyms, code names and the use of the
                        word
                        &#39;Avanade&#39;. <br></div>
                </div>
                <div>
                    <h3 class="text-lg font-medium leading-6 text-gray-900"> <br> </h3>
                </div>
            </div>
            <div class="basis-1/2 md:base-full md:flex-row mx-3">
                <div class="flex flex-col ...">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Project co-owner</h3>
                    </div>


                            <!-- ****** CO-OWNER CB ****** -->
                        <div>
                            <div class="relative mt-1" >
                                <input id="coowner" name="coowner" @click="coowner.show = !coowner.show" x-model="form.coowner" type="text" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2" role="combobox" aria-controls="options" aria-expanded="false">

                                <button x-show="!isCoownerempty" type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                                <svg id="clearBtn" class="h-5 w-5 text-gray-400" @click="clearCoowner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"/></svg>
                                </button>

                                <ul class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" x-show="coowner.show" role="listbox">

                                        {{range $user := .}}
                                    <li x-show="showName('{{$user.UserPrincipalName}}', '{{$user.GithubUser}}')" class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900" id="option-0" role="option" @click="form.coowner = '{{$user.UserPrincipalName}}'; coowner.show = !coowner.show" tabindex="-1">
                                        <div class="flex" >

                                        <span class="truncate">
                                                {{$user.UserPrincipalName}}
                                        </span>

                                        <span class="ml-2 truncate text-gray-500" >
                                                &nbsp@{{$user.GithubUser}}
                                        </span>
                                        </div>
                                
                                        <span x-show="showCheck('{{$user.UserPrincipalName}}')" class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600" >
                                        <svg  class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" >
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                        </svg>
                                        </span>


                                    </li>
                                        {{ end }}  
                                        
                                </ul>
                            </div>
                        </div>
                                <!-- END OF CO-OWNER CB... -->

                    <div>All projects must have two or more owners, to ensure that security alerts can be dealt with
                        promptly. <div>
                            <h3 class="text-lg font-medium leading-6 text-gray-900"> <br> </h3>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="flex flex flex-col md:flex-row  ">
            <div class="basis-1/2 md:base-full  md:flex-row   mx-3">
                <div class="flex flex-col ">
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Project description</h3>
                    </div>
                    <div>
                        <textarea name="description" id="description" x-model="form.description"  rows="3"  maxlength="1000"    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md  border-2">
                        </textarea>
                    </div>
                    <div>Be verbose in the description. Describe what the asset does and how it achieves this. If your
                        improves an existing product or approach then be sure to explicitly state how it does this.
                        Provide
                        information on business value and potential effort saving or avoidance.</div>
                </div>
            </div>
            <div class="basis-1/2 md:base-full  md:flex-row   mx-3">
                <div class="flex flex-col ">
                </div>
            </div>
        </div>

        <br>
        <p>
        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input id="confirm1" name="confirmAvaIP" type="checkbox"   x-model="form.confirmAvaIP"
                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
            </div>
            <div class="ml-3 text-sm">
                <p class="text-gray-500">
                    I confirm that this project is Avanade owned intellectual property, or the legal team have approved
                    this project.
                </p>
            </div>
        </div>
        </p>
        <p>
        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input id="confirm2" name="confirmSecIPScan" type="checkbox"   x-model="form.confirmSecIPScan"
                    class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
            </div>
            <div class="ml-3 text-sm">

                <p class="text-gray-500">I confirm that I will keep automated security and intellectual property scans
                    enabled.
                </p>
            </div>
        </div>
        </p>
        <br>
        <p> Projects will be automatically created in Avanade innersource, and you will receive a Teams notification
            with a link to the project.<br />
            You can also view your projects under the projects tab.
        </p>
        <div>
            <div align="right">
                <button type="submit"
                    class="bg-orange-500  inline-flex justify-center py-2 px-4 rounded-md text-white"
                    :class="!isValid ? 'bg-orange-200' : ''"
                    x-bind:disabled="!isValid"
                    @click="submit()"
                    >Submit
                    project</button>

            </div>
        </div>
    </form>

  
</div>

<script type="text/javascript">
    function data() {
        return {
            form: {
                name: '',
                coowner: '',
                description: '',
                confirmAvaIP: false,
                confirmSecIPScan: false
            },
            coowner:{
                show: false,
            },
            submit(){
                Alpine.store('master').modal.show()
                Alpine.store('master').postData("/projects/new", this.form, "Your repository has been created.", "Go to your project list", "/projects")                
            },
            showName(userPrincipalName, githubUser){
                return userPrincipalName.includes(this.form.coowner) || githubUser.includes(this.form.coowner) ? true : false
            },



            get isValid() {
                if(
                    !!this.form.name &&
                    !!this.form.coowner &&
                    !!this.form.description &&
                    this.form.confirmAvaIP &&
                    this.form.confirmSecIPScan){
                        return true
                } else {
                    return false
                }
            },

            showCheck(userPrincipalName){
                return userPrincipalName.includes(this.form.coowner) == "" ? true : false
            },

            clearCoowner(){
                this.form.coowner = ""
            },

            get isCoownerempty(){
                if(this.form.coowner == "") {
                    return true
                } else {
                    return false
                }
            }


        }
    }

</script>
{{ end }}